@media (max-width: 1440px) {
  #navbar .row--title__fixed {margin-left: -60px;}
  #navbar .btn {margin-left: 1282px;margin-top: -3px;}
  #navbar {min-height: 82vh;}
  #navbar .row--title__next {margin-left: 189px;}
//  #navbar .row--title__fixed {height: 20%;margin-left: -620px;}
//  #navbar .btn {width: 76px;height: 70px;margin-left: 69%;margin-top: 28px;}
//  #navbar .width {width: 80px; height: 5px}
//  #navbar .width:before {width: 80px;height: 5px;margin: 11px -39px;}
//  #navbar .width:after {width: 80px;height: 5px;margin: 24px -39px;}
//  #navbar .row--title__next {margin-left: 24%;}
//  #navbar .row--title__titles {margin: 0 21px;font-size: 23px;width: 100px;}
//
}

@media (max-width: 1200px){
  #navbar .row--title__fixed {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 20%;
    margin-left: -29px;
    background: rgba(0, 0, 0, 0.77);
  }
  #navbar .row--title__title {
    margin: 43px -36px;
    width: 24%;
    height: 100%;
  }
  #navbar .row--title__web {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    margin: 61px 39px;
    font-size: 28px;
    color: red;
    width: 125%;
  }
  #navbar .row--title__btn {
    border: 1px solid white;
    width: 133px;
    height: 31px;
    border-radius: 7px;
    font-size: 15px;
    color: white;
    background: rgba(218, 218, 218, 0.13);
  }
  #navbar .row--title__titles {
    color: white;
    position: relative;
    margin: 0 7px;
    font-size: 12px;
    width: 100px;
  }
  #navbar .row--title__next {
    margin-left: 52px;}
  #navbar .row--title__item {
    text-transform: uppercase;
    font-size: 68px;
    padding: 38px 66px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: white;
    filter: drop-shadow(5px 5px 5px #171717);
    animation: __item 2s ease-in-out alternate;
  }
  #card .row--card--btn {
    width: 247px;
    font-size: 18px;
  }
  #card .row--card--btn2 {
    font-size: 16px;}
  #logo .row__card--klassica{
    margin-left: -40px;
  }
  #logo .row__card--klassica3{
    margin-left: 40px;
  }
  #navbar .btn {
    margin-left: 1047px;
    margin-top: 16px;
  }
  #navbar .row--title__btn2 {
    margin-left: 75px;}
  #navbar .row--title__mode {
    padding-left: 75px;
  }
  #navbar .row--title__fabs {
    padding-left: 63px;
  }
  #card .row--card--btn-2 {
    width: 250px;}
  #card .row--card--btn {
    width: 206px;}
  #application .row--application__card {
    width: 575px;}
  #application .row--application__name {
    width: 250px;}
  #application .row--application__name2 {
    width: 250px;}
  #application .row--application__name3 {
    width: 250px;}
  #application .row--application__name4 {
    width: 250px;}
  #application .row--application__area {
    width: 533px;}
  #application .row--application__btn {
    width: 533px;}



  #navbar .menu {
    margin-left: 147px;}
  #navbar .menu2 {
    margin-left: 147px;
  }
  #navbar .card {
    margin: 35px 198px;
  }
}

@media (max-width: 1024px) {
  #navbar .row--title__fixed {
    height: 16%;
    margin-left: -32px;}
  #navbar .row--title__web {
    margin: 61px 89px;
    font-weight: 700;
    font-size: 28px;}
  #navbar .row--title__next {
    margin-left: 52px;
    margin-top: 20px;

  }
  #navbar .row--title__titles {

    font-size: 11px;
  }
  #navbar .row--title__title {
    margin: 43px -87px;
    width: 19%;
    height: 100%;
  }
  #navbar .btn {
    margin-left: 884px;
    margin-top: 13px;
  }
  #navbar .row--title__item {font-size: 59px;
    padding: 8px 10px}
  #navbar .row--title__btn2 {
    margin-left: 12px;
    margin-top: -3px;
  }
  #navbar .row--title__mode {
    padding-left: 12px;
  }
  #navbar .row--title__fabs {
    padding-left: 4px;
  }
  #card .row--card--btn-2 {
    width: 209px;
    font-size: 16px;
  }
  #card .row--card--btn {
    width: 169px;
    font-size: 16px;
  }
  #logo .row__card--klassica3 {
    margin-left: 149px;
    margin-top: 40px;
  }
  #application .row--application{
    text-align: center;
  }
  #application .row--application__card{
    margin-left: 20%;
  }
  #footer .row--footer__ins {
    margin: 0 59px}
  #navbar .row--title__block {
    margin-top: -392px;
    margin-left: -44px;}
  #navbar .row--title__square {
    margin-left: 254px;
    margin-top: 148px;}
  #card .row--card__block {
    margin-top: -774px;
    margin-left: -44px;
  }
  #card .row--card__square {
    margin-top: 148px;
    margin-left: 254px;}
  #footer .row--footer__ins {
    margin: 0 35px;
  }

  #navbar .menu {
    margin-left: 90px;
  }
  #navbar .menu2 {
    margin-left: 90px;
  }
  #navbar .card {
    margin: 28px 101px;
  }


  #navbar .modal-window {
    height: 161%;}
}

@media (max-width: 992px) {
  #navbar .row--title__fixed {position: fixed;z-index: 4;width: 100%;height: 15%;margin-left: -16px;background: rgba(0, 0, 0, 0.77);}
  #navbar .row--title__next {margin-left: -65px;}
  #navbar .btn {margin-left: 874px;margin-top: 29px;}
  #navbar .row--title__web {
    margin: 57px 89px;
    font-weight: 700;
    font-size: 24px;
  }
  #navbar .row--title__titles {
    font-size: 11px;
    padding: 0 1px;
  }
  #navbar .btn {
    margin-left: 874px;
    margin-top: 9px;
  }

}

@media (max-width: 768px){
  #navbar .row--title__next {
    margin-left: -65px;
    display: none;
  }
  #navbar .row--title__fixed {
    margin-left: -24px;
    height: 11%;
  }
  #navbar .btn {
    margin-left: 632px;
    margin-top: -9px;}
  #navbar .row--title__title {
    margin: 67px -70px;
    width: 16%;
    height: 100%;
  }
  #navbar .row--title__item {
    font-size: 50px;}
  #navbar .row--title__btn2 {
    width: 267px;
    font-size: 19px;}
  #navbar .row--title__web {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    margin: 78px 75px;
    font-size: 22px;
    color: red;
    width: 125%;
  }
  #navbar .row--title__btn3 {
    width: 185px;
    font-size: 19px;}
  #card .row--card__card {
    margin-left: 19px;
    margin-top: 25px;
  }
  #card .row--card__cards {
    width: 250px;
    height: 140px;
    margin-top: 30px;}
  #card .row--card__lorem {
    padding: 40px 244px;
  }
  #logo .row__card--klassica {
    margin-left: -85px;
  }
  #logo .row__card--klassica3 {
    margin-left: 69px;}
  #application .row--application__card {
    margin-left: 9%;
  }
  #footer .row--footer__project {
    font-size: 36px;}
  #footer .row--footer__btn {
    width: 260px;
    font-size: 24px;}
  #footer .row--footer__ins {
    margin: -1px 28px;
  }
  #navbar .row--title__block {
    margin-top: -371px;
    margin-left: -35px;
  }
  #navbar .row--title__square {
    margin-left: 111px;}
  #card .row--card__block {
    margin-top: -966px;
    margin-left: -34px;
  }
  #card .row--card__square {
    margin-left: 111px;}


  #navbar .menu {
    margin-left: 6px;
  }
  #navbar .hello {
    padding: 20px;
    margin-left: -83px;
  }
  #navbar .menu2 {
    margin-left: 10px;
  }
  #navbar .card {
    margin: 28px -34px;
  }
  #navbar .btn-close {
    right: 30px;
  }
  #navbar .modal-window {
    width: 100%;
    height: 164%;
  }
}

@media (max-width: 576px){
  #navbar .row--title__fixed {
    margin-left: -17px;
  }
  #navbar .row--title--img {
    width: 106%;
    margin-left: -63px;
  }
  #navbar .btn {
    margin-left: 439px;
    margin-top: 1px;
  }
  #navbar .row--title__item {
    font-size: 38px;
    margin-top: 25px;
  }
  #navbar .row--title__btn2 {
    width: 196px;
    font-size: 14px;
  }
  #navbar .row--title__btn3 {
    width: 130px;
    font-size: 14px;
  }
  #navbar .row--title__fab {
    color: red;
    margin: 0 64px;
    font-size: 39px;
  }
  #card .row--card__card {
    margin-left: 155px;
    margin-top: 25px;
  }
  #card .row--card__cards {
    margin-left: 135px;
  }
  #card .row--card__lorem {
    padding: 40px 150px;
  }
  #card .row--card__items {
    font-size: 31px;
    text-align: center;}
  #card .row--card__items2 {
    font-size: 15px;
    text-align: center;}
  #card .row--card--btn-2 {
    margin-left: 52px;
  }
  #logo .row__card--choice1 {
    font-size: 33px;
  }
  #logo .row__card--choice2 {
    font-size: 17px;}
  #logo .row__card--klassica {
    margin-left: -24px;
  }
  #logo .row__card--klassica2{margin: 28px -22px;}
  #logo .row__card--klassica3 {
    margin-left: -19px;
    margin-top: 0;
  }
  #after .row--after__what {
    font-size: 30px;}
  #after .row--after__after1 {
    margin-left: 68px;}
  #after .row--after__btn2 {
    font-size: 18px;}
  #after .row--after__btn3 {
    font-size: 18px;}
  #application .row--application__card {
    margin-left: -2%;
    width: 540px;
  }
  #application .row--application__name2 {
    width: 230px;
  }
  #application .row--application__name {
    width: 230px;
  }
  #application .row--application__name4 {
    width: 230px;
  }
  #application .row--application__name3 {
    width: 230px;
  }
  #application .row--application__area {
    width: 492px;
  }
  #application .row--application__btn {
    width: 495px;
    font-size: 20px;
  }
  #application .row--application__data {
    font-size: 14px;}
  #footer .row--footer__ins {
    margin: -1px 73px;
  }
  #footer .row--footer--width{
    width: 520px;
    height: 3px;
    background: red;
    margin-top: 12px;
    position: absolute;
  }
  #footer .row--footer--ob{
    padding: 47px 0;
  }
  #footer .row--footer__btn {
    width: 230px;
    font-size: 22px;
    height: 50px;
  }
  #navbar .row--title__block {
    margin-top: -371px;
    margin-left: -30px;
  }
  #navbar .row--title__square {
    margin-left: 44px;
    width: 500px;
  }
  #navbar .row--title__name {
    width: 90%;}
  #navbar .row--title__name2 {
    width: 90%;}
  #navbar .row--title__vk {
    padding-left: 458px;}
  #navbar .row--title__btn4 {
    margin-left: 129px;}
  #card .row--card__block {
    margin-top: -225%;
    margin-left: -30px;
  }
  #card .row--card__square {
    margin-left: 41px;
    width: 500px;
  }
  #card .row--card__name {
    width: 90%;}
  #card .row--card__name2 {
    width: 90%;}
  #card .row--card__vk {
    padding-left: 457px;}
  #card .row--card__btn4 {
    margin-left: 126px;}




  #navbar .menu3 {
    font-size: 12px;
    margin-left: -83px;
  }
  #navbar .menu31 {
    margin-left: 0;
    padding: 5px 60px;
    /* font-size: 14px; */
  }
  #navbar .menu {
    margin-left: -67px;
  }
  #navbar .tench {
    width: 90%;
    height: 3px;
    position: absolute;
    background: red;
    margin: 359px -68px;
  }
  #navbar .row--tench {
    margin-top: 0;
    margin-left: 0;
  }
  #navbar .menu2 {
    margin-left: -24px;
    padding: 0 0;
  }
  #navbar .card {
    margin: 28px 1px;
    width: 100%;
    height: 90%;
  }
  #navbar .name {
    width: 90%;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 30px 18px;
    outline: none;
    padding: 0 20px;
  }
  #navbar .name2 {
    width: 90%;
    margin: -22px 18px;}
  #navbar .name3 {
    width: 90%;
    margin: 30px 18px;}
  #navbar .modal-window {
    width: 100%;
    height: 203%;
  }
  #navbar .name4 {
    width: 90%;
    margin: -10px 18px;}
  #navbar .area {
    width: 90%;
    margin: 25px 18px;}
  #navbar .__btn {
    width: 90%;
    margin: -13px 18px;}

}

@media (max-width: 415px) {
  #card .row--card__vk {
    padding-left: 298px;
  }
  #navbar .row--title__block {
    margin-top: -351px;
    margin-left: -11px;
  }
  #navbar .row--title__square {
    margin-left: 39px;
    width: 340px;
  }
  #navbar .row--title__btn4 {
    margin-left: 86px;
  }
  #card .row--card__block {
    margin-top: -334%;
    margin-left: -12px;
  }
  #card .row--card__square {
    margin-left: 39px;
    width: 340px;
  }
  #card .row--card__btn4 {
    margin-left: 91px;
  }

  #navbar .row--title__vk {
    padding-left: 331px;
    margin-top: 17px;
    opacity: 0.5;
    cursor: pointer;
  }

  #navbar .row--title__vk {
    padding-left: 301px;
  }

  #navbar {
    min-height: 63vh;
  }

  #navbar .row--title__fixed {
    margin-left: 0;
    height: 8%;
  }

  #navbar .btn {
    margin-left: 311px;
    margin-top: -11px;
  }

  #navbar .row--title__item {
    font-size: 38px;
  }

  #navbar .row--title--item {
    padding: 126px 0;
    font-size: 13px;
  }

  #navbar .row--title__btn2 {
    width: 165px;
    font-size: 13px;
  }

  #navbar .row--title__card {
    width: 281px;
    height: 178px;
    opacity: 0.6;
  }

  #navbar .row--title__fab {
    margin: 53px 52px;
    font-size: 32px;
  }

  #navbar .row--title__item {
    font-size: 29px;
    margin-top: -17px;
  }

  #navbar .row--title__btn2 {
    width: 151px;
    font-size: 11px;
    height: 40px;
    margin-left: 10px;
    margin-top: 22px;
  }

  #navbar .row--title__btn3 {
    width: 113px;
    font-size: 11px;
    height: 40px;
  }

  #navbar .row--title__mode {
    font-size: 13px;
  }

  #navbar .row--title__fab {
    font-size: 42px;
  }

  #navbar .row--title__fabs {
    margin-left: -32px;
  }

  #card .row--card__card {
    margin-left: 91px;
  }

  #card .row--card__cards {
    margin-left: 74px;
  }

  #card .row--card__lorem {
    padding: 40px 83px;
  }

  #card .row--card--btn-2 {
    margin-left: 94px;
    height: 40px;
    font-size: 13px;
  }

  #card .row--card__items {
    font-size: 29px;
    text-align: center;
  }

  #card .row--card--btn {
    width: 169px;
    font-size: 13px;
    margin-left: 111px;
    height: 40px;
  }

  #logo .row__card--choice1 {
    font-size: 30px;
  }

  #logo .row__card--klassica {
    margin-left: -84px;
  }

  #logo .row__card--klassica2 {
    margin: 28px -84px;
  }

  #logo .row__card--klassica3 {
    margin-left: -84px;
  }

  #after .row--after__what {
    font-size: 28px;
  }

  #after .row--after__after1 {
    margin-left: 3px;
  }

    #after .row--after__btn3 {
      font-size: 13px;
      margin-top: 18px;
      margin-left: -4px;
    }

  #application .row--application__card {
    margin-left: 3%;
    width: 364px;
    height: 480px;
  }

  #application .row--application__name {
    width: 90%;
    margin-left: 16px;
    margin-top: 11px;
  }

  #application .row--application__name2 {
    width: 90%;
    margin: -14px 16px;
  }

  #application .row--application__name3 {
    width: 90%;
    margin: 28px 14px;
  }

  #application .row--application__name4 {
    width: 90%;
    margin: -8px 13px;
  }

  #application .row--application__area {
    width: 141%;
    margin-left: 14px;
    height: 30px;
  }

  #application .row--application__btn {
    width: 90%;
    font-size: 20px;
    margin: -36px 16px;
  }

  #footer .row--footer__ins {
    margin: 0 42px;
  }

  #footer .row--footer--width {
    width: 386px;
  }

  #footer .row--footer__project {
    font-size: 31px;
  }

  #footer .row--footer__btn {
    width: 180px;
    font-size: 16px;
    height: 41px;
  }

  .row {
    width: 100%;
  }

  #application .row--application {
    text-align: center;
    margin: 20px -6px;
    padding-left: 22px;
  }

  #footer .row--footer__ins {
    margin: 0 12px;
  }
  #after .row--after__btn {
    margin: -62px 19px;
  }
  #navbar .row--title--img{
    margin-left: -84px;
  }


  #navbar .row--tench2 {
    margin-left: -280px;
    margin-top: 252%;
  }
  #navbar .menu3 {
    font-size: 15px;
    margin-left: -117px;
  }
  #navbar .menu2 {
    margin-left: -51px;
  }
  #navbar .menu31 {
    margin-left: 27px;
    padding: 10px 86px;
  }
  #navbar .menu {
    margin-left: -75px;
    font-size: 18px;
  }
  #navbar .row--tench {
    margin-top: 0;
    margin-left: -8px;
  }
  #navbar .tench {
    width: 90%;
    height: 3px;
    position: absolute;
    background: red;
    margin: 447px -76px;
  }
  #navbar .modal-window {
    width: 100%;
    height: 210%;
  }
  #navbar .card {
    margin: 29px -46px;
    width: 163%;
    height: 90%;
  }
}

@media (max-width: 386px) {
  #navbar .btn {
    margin-left: 290px;
    margin-top: -12px;
  }
  #navbar .row--title--img {
    margin-left: -93px;
    width: 121%;
  }
  #navbar .row--title__btn2 {
    width: 139px;
    font-size: 9px;
  }
  #navbar .row--title__btn3 {
    font-size: 9px;
  }
  #navbar .row--title__fab {
    font-size: 36px;
    margin: 53px 35px;
  }
  #navbar .row--title__fabs {
    margin-left: 19px;
  }
  #navbar .row--title__mode {
    font-size: 14px;
  }
  #card .row--card__card {
    margin-left: 77px;
  }
  #card .row--card__cards {
    margin-left: 58px;
  }
  #card .row--card__lorem {
    padding: 40px 71px;
  }
  #card .row--card__items {
    font-size: 29px;
    text-align: center;
    margin-left: 43px;
  }
  #card .row--card__items2 {
    font-size: 15px;
    text-align: center;
    margin-left: 47px;
  }
  #card .row--card--btn-2 {
    margin-left: 90px;
  }
  #logo .row__card--klassica {
    margin-left: -98px;
  }
  #logo .row__card--klassica2 {
    margin: 28px -95px;
  }
  #logo .row__card--klassica3 {
    margin-left: -94px;
  }
  #after .row--after__after1 {
    margin-left: -11px;
  }
  #after .row--after__btn3 {
    font-size: 13px;
    margin-top: 18px;
    margin-left: 0;
  }
  #application .row--application__card {
    margin-left: 3%;
    width: 350px;
    height: 480px;
  }
  #application .row--application__area {
    width: 135%;
    margin-left: 14px;
    height: 30px;
  }
  #footer .row--footer--width {
    width: 358px;
  }
  #navbar .row--title__square {
    margin-left: 25px;
    width: 340px;
  }
  #navbar .menu3 {
    font-size: 12px;
    margin-left: -117px;
  }
  #navbar .row--tench2 {
    margin-left: -246px;
    margin-top: 292%;
  }
  #navbar .card {
    margin: 29px -65px;
    width: 202%;
    height: 90%;
  }
  #navbar .modal-window {
    width: 100%;
    height: 242%;
  }
  #navbar .hello {
    padding: 20px;
    width: 100%;
    margin-left: -83px;
  }

}

@media (max-width: 377px)  {
  #navbar .row--title__fixed {
    height: 10%;
  }
  #navbar .row--title--img {
    margin-left: -94px;
    width: 141%;
  }
    #navbar .btn {
    margin-left: 276px;
    margin-top: -8px;
  }
  #navbar .row--title__mode {
    font-size: 13px;
    margin-top: -18px;
  }
  #navbar .row--title__btn2 {
    width: 138px;
    font-size: 9px;
    height: 33px;
    margin-left: 10px;
    margin-top: 22px;
  }
  #navbar .row--title__btn3 {
    width: 101px;
    font-size: 9px;
    height: 33px;
  }
  #card .row--card__card {
    margin-left: 72px;
  }
  #card .row--card__cards {
    margin-left: 52px;
  }
  #card .row--card__items {
    font-size: 29px;
    margin-left: 40px;
    text-align: center;
  }
  #card .row--card__lorem {
    padding: 40px 61px;
  }
  #card .row--card__items2 {
    font-size: 15px;
    text-align: center;
    padding-left: 34px;
  }
  #card .row--card--btn-2 {
    margin-left: 74px;
    height: 40px;
    font-size: 13px;
  }
  #card .row--card--btn {
    width: 169px;
    font-size: 13px;
    margin-left: 93px;
    height: 40px;
  }
  #logo .row__card--choice1 {
    font-size: 27px;
  }
  #logo .row__card--choice2 {
    font-size: 15px;
  }
  #logo .row__card--google {
    margin-left: -101px;
  }
  #after .row--after__what {
    font-size: 26px;
  }
  #after .row--after__after1 {
    margin-left: -16px;
  }
  #application .row--application__card {
    margin-left: 2%;
    width: 345px;
    height: 480px;
  }
  #application .row--application__area {
    width: 134%;
    margin-left: 14px;
    height: 30px;
  }
  #footer .row--footer--width {
    width: 349px;
  }
  #navbar .row--title__square {
    margin-left: 16px;
    width: 340px;
  }
  #card .row--card__block {
    margin-top: -371%;
    margin-left: -12px;
  }
  #card .row--card__square {
    margin-left: 18px;
    width: 340px;
  }
  #navbar .row--title__fab {
    margin: 53px 39px;
    font-size: 30px;
  }
  #navbar .row--title__fabs {
    margin-left: 18px;
  }

  #navbar .menu {
    margin-left: -96px;
    font-size: 18px;
  }
  #navbar .menu2 {
    margin-left: -96px;
  }
  #navbar .card {
    margin: 75px -48px;
    width: 183%;
    height: 82%;
  }
  #navbar .menu31 {
    margin-left: 41px;
    padding: 4px 98px;
  }
  #navbar .tench {
    width: 90%;
    height: 3px;
    position: absolute;
    background: red;
    margin: 334px -76px;
  }
  #navbar .menu3 {
    font-size: 14px;
    margin-left: -117px;
  }
  #navbar .tench2 {
    width: 90%;
    height: 3px;
    background: red;
    position: absolute;
    margin-top: 180%;
    margin-left: -77px;
  }
  #navbar .row--tench {
    margin-top: 0;
    margin-left: -1px;
  }
  #navbar .row--tench2 {
    margin-top: 238%;
    margin-left: -233px;
  }
  #navbar .name {
    width: 90%;
    height: 35px;
    margin: 14px 14px;
    padding:  0 0;
  }
  #navbar .name2 {
    width: 90%;
    height: 35px;
    margin: -6px 14px;
    padding: 0 0;
  }
  #navbar .name3 {
    width: 90%;
    height: 35px;
    margin: 13px 14px;
    padding: 0 0;
  }
  #navbar .name4 {
    width: 90%;
    padding: 0 0;
    height: 35px;
    margin: -10px 14px;
  }
  #navbar .__btn {
    width: 90%;
    height: 35px;
    margin: -33px 14px;
  }
  #navbar .area {
    width: 90%;
    padding: 4px 17px;
    height: 70px;
    margin: 14px 14px;
  }
  #navbar .modal-window {
    width: 100%;
    height: 226%;
  }
  #after .row--after__btn3 {
    font-size: 13px;}
}

@media (max-width: 320px) {
  #navbar .row--title__item {
    font-size: 24px;
    margin-top: -24px;
  }
  #navbar .row--title--img {
    margin-left: -87px;
    width: 135%;
  }
  #navbar .btn {
    margin-left: 227px;
    margin-top: -8px;
  }
  #navbar .width {
    width: 31px;}
  #navbar .width:before {
    content: "";
    position: absolute;
    width: 31px;
    margin: 8px -15px;
  }
  #navbar .width:after {
    content: "";
    position: absolute;
    width: 31px;
    height: 3px;
    background: #ff0000;
    margin: 15px -15px;
  }
  #navbar .row--title__btn2 {
    width: 112px;
    font-size: 8px;}
  #navbar .row--title__btn3 {
    width: 85px;
    font-size: 8px;}
  #navbar .row--title__mode {
    font-size: 11px;
    margin-top: -18px;
  }
  #navbar .row--title__fab {
    margin: 53px 29px;
    font-size: 30px;
  }
  #card .row--card__card {
    margin-left: 45px;
  }
  #card .row--card__cards {
    margin-left: 26px;
  }
  #card .row--card__lorem {
    width: 114%;}
  #card .row--card__items {
    font-size: 24px;}
  #card .row--card__items2 {
    font-size: 12px;
    text-align: center;
    padding-left: 34px;
  }
  #card .row--card--btn-2 {
    margin-left: 48px;
    height: 33px;
    font-size: 13px;
  }
  #card .row--card--btn {
    width: 169px;
    font-size: 13px;
    margin-left: 71px;
    height: 33px;
  }
  #logo .row__card--choice1 {
    font-size: 25px;
  }
  #logo .row__card--choice2 {
    font-size: 13px;
  }
  #logo .row__card--google {
    margin-left: -131px;
  }
  #after .row--after__what {
    font-size: 25px;
  }
  #after .row--after__after1 {
    margin-left: -37px;
    width: 124%;
  }
  #after .row--after__btn2 {
    font-size: 15px;
  }
  #after .row--after__btn3 {
    font-size: 15px;}
  #application .row--application__your {
    font-size: 25px;}
  #application .row--application__your2 {
    font-size: 13px;}
  #application .row--application__card {
    margin-left: 2%;
    width: 289px;}
  #application .row--application__area {
    width: 111%;}
  #application .row--application__btn {
    width: 90%;
    font-size: 20px;
    margin: -36px 14px;}
  #application .row--application__data {
    font-size: 12px;
  }
  #footer .row--footer__project {
    font-size: 25px;
  }
  #footer .row--footer__btn {
    width: 165px;
    font-size: 15px;
    height: 36px;
  }
  #footer .row--footer--width {
    width: 296px;
  }
  #footer .row--footer__ins {
    margin: 0 7px;
    font-size: 15px;
  }
  #after .row--after__btn3 {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
  }
  #navbar .row--title__block {
    margin-top: -323px;}
  #navbar .row--title__square {
    margin-left: 19px;
    width: 280px;
  }
  #navbar .row--title__btn4 {
    margin-left: 68px;
  }
  #navbar .row--title__vk {
    padding-left: 241px;
  }
  #card .row--card__block {
    margin-top: -418%;
    margin-left: -12px;
  }
  #card .row--card__square {
    margin-left: 20px;
    width: 280px;
  }
  #card .row--card__btn4 {
    margin-left: 68px;
  }
  #card .row--card__vk {
    padding-left: 240px;
  }



  #navbar .menu {
    margin-left: -16px;
    font-size: 25px;
  }
  #navbar .menu2 {
    margin-left: -16px;
  }
  #navbar .row--tench {
    margin-top: 278%;
    margin-left: -245px;
  }
  #navbar .tench2 {
    width: 90%;
    height: 3px;
    background: red;
    position: absolute;
    margin-top: 196%;
    margin-left: -77px;
  }
  #navbar .modal-window {
    width: 100%;
    height: 250%;
  }
  #navbar .tench {
    width: 90%;
    height: 3px;
    position: absolute;
    background: red;
    margin: 236px -76px;
  }
  #navbar .row--tench2 {
    margin-top: 678%;
    margin-left: -262px;
  }
  #navbar .card {
    margin: 29px -74px;
    width: 288%;
    height: 90%;
  }
  #navbar .name {
    width: 90%;
    height: 35px;
    margin: 15px 13px;
  }
  #navbar .name2 {
    width: 90%;
    height: 35px;
    margin: -34px 12px;
  }
  #navbar .name3 {
    width: 90%;
    height: 35px;
    margin: 14px 12px;
  }
  #navbar .name4 {
    HEIGHT: 35PX;
    width: 90%;
    margin: -3px 11px;
  }
  #navbar .area {
    width: 90%;
    HEIGHT: 62PX;
    margin: 17px 12px;
  }
  #navbar .__btn {
    width: 90%;
    height: 35px;
    margin: -13px 13px;
  }

}