@media (max-width: 1440px) {
  #navbar .row--title__fixed {
    margin-left: -61px;}
  #navbar .row--title__block {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    margin-top: -528px;
    margin-left: -75px;}
  #navbar .row--title--img{
    width: 100%;  }
}

@media (max-width: 1200px) {
  #navbar .row--title--img{
    width: 100%;  }

  #navbar .row--title__fixed {
    margin-left: -30px;
  }
  #navbar .row--title--img{
    margin-left: -63px;
  }
  #navbar .row--title__next {
    margin-left: 164px;
    padding-top: 15px;
  }
  #navbar .btn {
    margin-left: 280px;
    margin-top: -12px;
  }
  #work .row--works__item {
    padding: 10px 62px;
  }
  #application .row--application{
    text-align: center;
  }
  #application .row--application__card {
    margin: 20px 236px;
  }
  #navbar .row--title__block {
    margin-top: -478px;
    margin-left: -43px;}
  #navbar .row--title__square {
    margin-left: 309px;}
  #navbar .menu {
    margin-left: 147px;}
  #navbar .menu2 {
    margin-left: 147px;
  }
  #navbar .card {
    margin: 35px 198px;
  }
}

@media (max-width: 1024px) {
  #navbar .row--title__fixed {
    margin-left: -33px;
  }
  #navbar .row--title--img{
    width: 100%;  }

  #navbar .row--title__titles {
    font-size: 13px;}
  #navbar .row--title__next {
    margin-left: 18px;
    padding-top: 15px;
  }






  #navbar .btn {
    margin-left: 876px;
    margin-top: 12px;
  }
  #work .row--works__item {
    padding: 10px 16px;
  }
  #application .row--application__card {
    margin: 20px 154px;
  }
  #footer .row--footer__ins {
    margin: 5px 55px;}
  #navbar .row--title__square {
    margin-left: 222px;
  }
  #navbar .menu {
    margin-left: 90px;
  }
  #navbar .menu2 {
    margin-left: 90px;
  }
  #navbar .card {
    margin: 28px 101px;
  }

  #navbar .modal-window {
    height: 156%;}

}

@media (max-width: 992px) {
  #navbar .row--title--img{
    width: 100%;  }
  #navbar .row--title__fixed {
    margin-left: -18px;
  }
  #navbar .row--title__next {
    margin-left: 13px;
    padding-top: 15px;
  }
  #navbar .row--title__block {
    margin-top: -528px;
    margin-left: -27px;
  }
}

@media (max-width: 768px) {
  #navbar .row--title__next {
    margin-left: 13px;
    padding-top: 15px;
    display: none;
  }
  #navbar .row--title--img{
    width: 100%;  }
  #navbar .row--title__fixed {
    margin-left: -24px;
  }
  #navbar .btn {
    margin-left: 630px;
    margin-top: 4px;
  }
  #navbar .row--title__item {
    font-size: 70px;}
  #navbar .row--title__btn2 {
    width: 299px;
    height: 50px;}
  #work .row--works__item {
    padding: 10px 136px;
  }
  #application .row--application__card {
    margin: 20px 40px;
  }
  #footer .row--footer--footer{    width: 90%;
    height: 3px;
    background: red;
    margin-top: 170px;
    position: absolute;
  }
  #footer .row--footer__foot{    padding-top: 32px;}
  #navbar .row--title__block {
    margin-top: -513px;
    margin-left: -36px;
  }
  #navbar .row--title__square {
    margin-left: 107px;
    margin-top: 195px;
  }
  #navbar .row--title__fab {
    color: red;
    margin: 0 35px;
    font-size: 40px;
  }
  #navbar .menu {
    margin-left: 6px;
  }
  #navbar .hello {
    padding: 20px;
    margin-left: -83px;
  }
  #navbar .menu2 {
    margin-left: 10px;
  }
  #navbar .card {
    margin: 28px -34px;
  }
  #navbar .btn-close {
       right: 30px;
     }
  #navbar .modal-window {
    width: 100%;
    height: 164%;
  }
}

@media (max-width: 576px) {
  #navbar .row--title__fixed {
    margin-left: -19px;
  }
  #navbar .row--title--img{
    width: 100%;  }
  #navbar .btn {
    margin-left: 454px;
    margin-top: 2px;
  }
  #navbar .row--title__item {
    font-size: 60px;
  }
  #application .row--application__area {
    width: 125%;
    margin-left: 18px;
    padding: 1px 16px;
  }
  #application .row--application__btn {
    width: 290px;
    height: 40px;
    margin-left: 17px;
  }
  #navbar .row--title__btn2 {
    width: 250px;
    height: 45px;
    font-size: 18px;
  }
  #navbar .row--title__fabs {
    display: flex;
    margin-top: 40px;
    margin-left: 47px;
  }
  #navbar .row--title__fab {
    color: red;
    margin: 0 50px;
    font-size: 40px;
  }
  #work .row--works__item {
    padding: 10px 46px;
  }
  #application .row--application__card {
    margin: 20px 28px;
    width: 90%;
    height: 498px;
  }
  #application .row--application__name {
    width: 90%;
    height: 40px;}
  #application .row--application__name2 {
    width: 90%;
    height: 40px;
    margin: -10px 25px;}
  #application .row--application__name3 {
    width: 90%;
    height: 40px;
    margin: 29px 25px;}
  #application .row--application__name4 {
    width: 90%;
    margin: -8px 26px;
    height: 40px;}
  #application .row--application__area {
    width: 421px;
    height: 76px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 25px 25px;
    outline: none;
    padding: 1px 20px;
  }
  #application .row--application__btn {
    width: 421px;
    height: 40px;}
  #application .row--application__data {
    text-align: center;
    font-size: 14px;}
  #navbar .row--title__block {
    margin-top: -497px;
    margin-left: -31px;
  }
  #navbar .row--title__square {
    margin-left: 24px;
    width: 90%;
    margin-top: 195px;
  }
  #navbar .row--title__name {
    width: 90%;
    margin-left: 23px;}
  #navbar .row--title__name2 {
    width: 90%;
    margin-left: 21px;
   }
  #navbar .row--title__btn3 {
    margin-left: 117px;}
  #navbar .row--title__vk {
    padding-left: 477px;
    margin-top: 17px;
    opacity: 0.5;
    cursor: pointer;
  }


  #navbar .menu3 {
    font-size: 12px;
    margin-left: -83px;
  }
  #navbar .menu31 {
    margin-left: 0;
    padding: 5px 60px;
    /* font-size: 14px; */
  }
  #navbar .menu {
    margin-left: -67px;
  }
  #navbar .tench {
    width: 90%;
    height: 3px;
    position: absolute;
    background: red;
    margin: 359px -68px;
  }
  #navbar .row--tench {
    margin-top: 0;
    margin-left: 0;
  }
  #navbar .menu2 {
    margin-left: -24px;
    padding: 0 0;
  }
  #navbar .card {
    margin: 28px 1px;
    width: 100%;
    height: 90%;
  }
  #navbar .name {
    width: 90%;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 30px 18px;
    outline: none;
    padding: 0 20px;
  }
  #navbar .name2 {
    width: 90%;
    margin: -22px 18px;}
  #navbar .name3 {
    width: 90%;
    margin: 30px 18px;}
  #navbar .modal-window {
    width: 100%;
    height: 203%;
  }
  #navbar .name4 {
    width: 90%;
    margin: -10px 18px;}
  #navbar .area {
    width: 90%;
    margin: 25px 18px;}
  #navbar .__btn {
    width: 90%;
    margin: -13px 18px;}

}

@media (max-width: 415px)   {
  #navbar .row--title__fixed {
    margin-left: -1px;
    height: 9%;
  }

  #navbar .row--title--img {
    margin-left: -93px;width: 100%;
  }
  #navbar .btn {
    margin-left: 308px;
    margin-top: -6px;
  }
  #navbar .row--title__item {
    font-size: 50px;
    margin-top: -50px;
  }
  #navbar .row--title__item2 {
    font-size: 16px;}
  #navbar .row--title__btn2 {
    width: 200px;
    height: 45px;
    font-size: 15px;
  }
  #navbar .row--title__mode {
    margin-top: 26px;
    color: white;
    font-size: 14px;
  }
  #navbar .row--title__fab {
    color: red;
    margin: 0 40px;
    font-size: 40px;
  }
  #navbar .row--title__fabs {
    display: flex;
    margin-top: 40px;
    margin-left: 18px;
  }
  #work .row--works__img {
    position: absolute;
    width: 90%;
  }
  #work .row--works__card {
    z-index: 3;
    width: 100%;
    height: 235px;}
  #work .row--works__lorem {
    padding: 59px;
  }
  #work .row--works__pod {
    margin-left: 164px;
  }
  #work .row--works__item {
    padding: 35px 20px;
  }
  #application .row--application__name {
    width: 90%;
    margin-left: 18px;
    height: 40px;
  }
  #application .row--application__name2 {
    width: 90%;
    height: 40px;
    margin: -10px 17px;
  }
  #application .row--application__name3 {
    width: 90%;
    height: 40px;
    margin: 29px 17px;
  }
  #application .row--application__name4 {
    width: 90%;
    margin: -8px 18px;
    height: 40px;
  }
  #application .row--application__area {
    width: 313px;
    margin-left: 18px;
    padding: 1px 16px;
  }
  #application .row--application__btn {
    width: 313px;
    height: 40px;
    margin-left: 17px;
  }
  #application .row--application__data {
    text-align: center;
    font-size: 13px;
  }
  #footer .row--footer__project {
    font-size: 30px;
  }
  #footer .row--footer__btn {
    width: 204px;
    height: 47px;
    font-size: 19px;}
  #footer .row--footer--footer {
    margin-top: 145px;}
  #footer .row--footer__ins {
    margin: 5px 29px;
    font-size: 16px;
  }
  #navbar .row--title__block {
    margin-top: -435px;
    margin-left: -13px;
  }
  #navbar .row--title__btn3 {
    margin-left: 96px;
  }
  #navbar .row--title__vk {
    padding-left: 332px;}



  #navbar .row--tench2 {
    margin-left: -6px;
    margin-top: 2%;
  }
  #navbar .menu3 {
    font-size: 12px;    margin-left: -117px;
  }
  #navbar .menu2 {
    margin-left: -51px;
  }
  #navbar .menu31 {
    margin-left: 27px;
    padding: 10px 86px;
  }
  #navbar .menu {
    margin-left: -75px;
    font-size: 18px;
  }
  #navbar .row--tench {
    margin-top: 224%;
    margin-left: -253px;
  }
  #navbar .tench {
    width: 90%;
    height: 3px;
    position: absolute;
    background: red;
    margin: 447px -76px;
  }
  #navbar .modal-window {
    width: 100%;
    height: 251%;
  }
  #navbar .card {
    margin: 29px -58px;
    width: 163%;
    height: 90%;
  }
}

@media (max-width: 386px) {
  #navbar .hello {
    padding: 20px;
    width: 100%;
    margin-left: -83px;
  }
  #navbar .btn {
    margin-left: 287px;
    margin-top: -13px;
  }
  #navbar .row--title--img {
    margin-left: -93px;
    width: 117%;
  }
  #application .row--application__area {
    width: 295px;}
  #application .row--application__btn {
    width: 298px;}
  #navbar .row--title__vk {
    padding-left: 310px;
  }
  #navbar .row--title__btn3 {
    margin-left: 86px;
  }
  .container{
    width: 90%;
  }
}

@media (max-width: 376px) {
  #navbar .btn {
    margin-left: 278px;
    margin-top: -11px;
  }

  #navbar .row--title__item {
    font-size: 45px;
    margin-top: -50px;
    margin-left: 13px;
  }
  #navbar .row--title__item2 {
    font-size: 16px;
    margin-left: 13px;
  }
  #navbar .row--title__btn2 {
    width: 200px;
    margin-left: 13px;
    height: 45px;
    font-size: 14px;
  }
  #navbar .row--title__mode {
    margin-top: 26px;
    color: white;
    font-size: 16px;
    margin-left: 13px;
  }
  #navbar .row--title__fabs {
    display: flex;
    margin-top: 40px;
    margin-left: 1px;
  }
  #work .row--works__card {
    margin-left: 1px;
    z-index: 3;
    width: 101%;

    height: 212px;
  }
  #work .row--works__lorem {
    padding: 51px;
  }
  #work .row--works__pod {
    margin-left: 141px;
  }
  #application .row--application__area {
    width: 287px;
  }
  #application .row--application__btn {
    width: 289px;
    height: 40px;
    margin-left: 17px;
  }
  #navbar .row--title__square {
    margin-left: 20px;
    width: 90%;
    margin-top: 195px;
  }
  #navbar .row--title__vk {
    padding-left: 299px;
  }


  #navbar .menu {
    margin-left: -96px;
    font-size: 18px;
  }
  #navbar .menu2 {
    margin-left: -96px;
  }
  #navbar .card {
    margin: 75px -68px;
    width: 183%;
    height: 82%;
  }
  #navbar .menu31 {
    margin-left: 41px;
    padding: 4px 98px;
  }
  #navbar .tench {
    width: 90%;
    height: 3px;
    position: absolute;
    background: red;
    margin: 334px -76px;
  }
  #navbar .menu3 {
    font-size: 12px;
    margin-left: -117px;
  }
  #navbar .tench2 {
    width: 90%;
    height: 3px;
    background: red;
    position: absolute;
    margin-top: 180%;
    margin-left: -77px;
  }
  #navbar .row--tench {
    margin-top: 215%;
    margin-left: -192px;
  }


  #navbar .row--tench2 {
    margin-top: 0;
    margin-left: -3px;
  }
  #navbar .name {
    width: 90%;
    height: 35px;
    margin: 14px 14px;
    padding:  0 0;
  }
  #navbar .name2 {
    width: 90%;
    height: 35px;
    margin: -6px 14px;
    padding: 0 0;
  }
  #navbar .name3 {
    width: 90%;
    height: 35px;
    margin: 13px 14px;
    padding: 0 0;
  }
  #navbar .name4 {
    width: 90%;
    padding: 0 0;
    height: 35px;
    margin: -10px 14px;
  }
  #navbar .__btn {
    width: 90%;
    height: 35px;
    margin: -33px 14px;
  }
  #navbar .area {
    width: 90%;
    padding: 4px 17px;
    height: 70px;
    margin: 14px 14px;
  }
  #navbar .modal-window {
    width: 100%;

    height: 251%;
  }
  #navbar .row--title--img {
    margin-left: -94px;
    width: 100%;
  }

  }

@media (max-width: 320px) {

  #navbar .row--title--img{
    width: 100%;
    margin-left: -93px;}
  #navbar .btn {
    margin-left: 223px;
    margin-top: -12px;
  }
  #navbar .row--title__item {
    font-size: 40px;
    margin-top: -72px;
    margin-left: 13px;
  }
  #navbar .row--title__btn2 {
    width: 150px;
    margin-left: 12px;
    height: 40px;
    font-size: 11px;
  }
  #navbar .row--title__mode {
    margin-top: 26px;
    color: white;
    font-size: 14px;}
  #navbar .row--title__fab {
    color: red;
    margin: 0 27px;
    font-size: 40px;
  }
  #navbar .row--title__fabs {
    display: flex;
    margin-top: 40px;
    margin-left: 8px;
  }
  #work .row--works__card {
    margin-left: 0;
    z-index: 3;
    width: 104%;

    height: 181px;
  }
  #work .row--works__lorem {
    padding: 29px;
  }
  #work .row--works__pod {
    margin-left: 116px;
  }
  #application .row--application__card {
    margin: 20px 15px;
    width: 90%;
    height: 498px;
  }
  #application .row--application__area {
    width: 239px;
  }
  #application .row--application__btn {
    width: 239px;}
  #application .row--application__data {
    font-size: 12px;
  }
  #footer .row--footer__ins {
    margin: 5px 20px;
    font-size: 16px;
  }
  #navbar .row--title__block {
    margin-top: -389px;
  }
  #navbar .row--title__vk {
    padding-left: 252px;
  }
  #navbar .row--title__btn3 {
    margin-left: 73px;
  }




  #navbar .menu {
    margin-left: -16px;
    font-size: 25px;
  }
  #navbar .menu2 {
    margin-left: -16px;
  }
  #navbar .row--tench {
    margin-top: 549%;
    margin-left: -232px;
  }
  #navbar .tench2 {
    width: 90%;
    height: 3px;
    background: red;
    position: absolute;
    margin-top: 196%;
    margin-left: -83px;  }
  #navbar .modal-window {
    width: 100%;
    height: 250%;
  }
  #navbar .tench {
    width: 90%;
    height: 3px;
    position: absolute;
    background: red;
    margin: 236px -82px;
  }
  #navbar .row--tench2 {
    margin-top: 218%;
    margin-left: -221px;
  }
  #navbar .card {
    margin: 29px -79px;
    width: 238%;
    height: 90%;
  }
  #navbar .name {
    width: 90%;
    height: 35px;
    margin: 15px 13px;
  }
  #navbar .name2 {
    width: 90%;
    height: 35px;
    margin: -34px 12px;
  }
  #navbar .name3 {
    width: 90%;
    height: 35px;
    margin: 14px 12px;
  }
  #navbar .name4 {
    HEIGHT: 35PX;
    width: 90%;
    margin: -3px 11px;
  }
  #navbar .area {
    width: 90%;
    HEIGHT: 62PX;
    margin: 17px 12px;
  }
  #navbar .__btn {
    width: 90%;
    height: 35px;
    margin: -13px 13px;
  }
  #navbar .menu3 {
    font-size: 11px;
  }
  }

