a, a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}
$re:#123456;
$te:#123656;

#navbar {
  background: url("../img/pod.png") no-repeat center/cover;
  min-height: 100vh;

  .row {
    &--title {
      animation: --title 1s ease-in-out alternate;
      padding-left: 100px;

      &__fixed {
        position: fixed;
        z-index: 3;
        width: 100%;
        margin-left: -100px;
        background: rgba(0, 0, 0, 0.77);
      }

      &__title {
        margin: 20px 0;
      }

      @keyframes --title {
        0% {
          opacity: 0;
          transform: translateY(-200px);
        }
        100% {
          opacity: 2;
          transform: translateY(0);
        }
      }

      &__web {
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        margin: 28px 8px;
        font-size: 28px;
        color: red;

      }

      &__next {
        margin-left: 300px;
        animation: __next 1s ease-in-out alternate;
      }

      @keyframes __next {
        0% {
          opacity: 0;
          transform: translateY(-200px);
        }
        100% {
          opacity: 2;
          transform: translateY(0);
        }
      }

      &__titles {
        color: white;
        position: relative;
        margin: 0 10px;
        font-size: 14px;
        width: 100px;
      }

      &__titles:before {
        width: 100%;
        height: 1px;
        background: #FF001E;
        position: absolute;
        bottom: 0;
        transition: 0.3s;
        transform: scale(0);
        content: '';
      }

      &__titles:hover:before {
        transform: scale(1)
      }

      &__titles:hover {
        color: #FF001F;
      }

      &__btn {
        border: 1px solid white;
        width: 147px;
        height: 31px;
        border-radius: 7px;
        color: white;
        background: rgba(218, 218, 218, 0.13);
      }

      &__btn:hover {
        background: #ff0f0f;
        border: none;
        color: #020202;
      }

      &__items {
        padding-top: 130px;
      }

      &__item {
        text-transform: uppercase;
        font-size: 80px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        color: white;
        filter: drop-shadow(5px 5px 5px rgb(23, 23, 23));
        animation: __item 2s ease-in-out alternate;
        padding-top: 100px;
      }

      @keyframes __item {
        0% {
          opacity: 0;
          transform: translateX(-300px);
        }
        50% {
          color: red;
        }
        100% {
          opacity: 2;
          transform: translateX(0);
        }
      }

      &__item2 {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;

      }

      &__btn1 {
        width: 322px;
        height: 50px;
        background: rgb(231, 0, 24);
        border-radius: 10px;
        border: none;
        color: #000000;
        font-size: 20px;
        margin: 50px 0;
      }

      &__btn1:hover {
        background: #000;
        color: #FFFFFF;
        border: 1px solid red;
      }


      &__mode {
        margin-top: -30px;
        color: white;
      }

      &__fabs {
        display: flex;
        margin-top: 40px;
      }

      &__fab {
        color: red;
        margin: 0 15px;
        font-size: 35px;
      }

      &___item {
        padding-top: 20px;
      }

      &__img {
        position: absolute;
      }


      &__card {
        z-index: 3;
        width: 406px;
        height: 259px;
        background: #000;
        opacity: 0;
        transition: .3s;

      }


      &__card:hover {
        transform: translateY(0);
        opacity: .7;
      }

      &__lorem {
        color: white;
        padding: 100px 15px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
      }

      &__lorem2 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        margin-top: -100px;
        color: #e1e1e1;
        padding: 0 15px;
      }

      &__pod {
        color: #a9a5a5;
        text-decoration: none;
        margin: 200px 10px;
      }
    }
  }

  .hello {
    padding: 20px;
  }

  .hello2 {
    padding: 20px;
    filter: drop-shadow(5px 5px 5px #ff0000);
  }

  .square {
    width: 100px;
    height: 2px;
    background: orangered;
  }

  .btn {
    border: none;
    width: 70px;
    height: 50px;
    z-index: 13;
    position: absolute;
    margin-left: 1286px;
    margin-top: -5px;

  }

  .modal {

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .9s ease-out;

  }

  .modal.show {
    visibility: visible;
    z-index: 100;
    opacity: 1;
  }

  .modal.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 0;
  }

  .modal-window {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .4);
    background: #222222;
    padding: 0 100px;
    transition: inherit;
  }

  .btn-close {
    position: absolute;
    border: none;
    background: none;
    opacity: .4;
    right: 30px;
    top: 25px;

  }

  .btn-close:hover {
    opacity: 1;
  }

  #modalWin {
    display: none;
  }

  .ob {
    display: flex;
  }

  .menu {
    padding: 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
  }

  .menu2 {
    padding: 0 20px;
    display: flex;
    flex-direction: column;

  }

  .menu31 {
    padding: 10px 0;

  }

  .menu3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #fff;
    border-bottom: transparent;
    transition: .5s;
    border-bottom: 1px solid transparent;

  }

  .menu3:hover {
    color: red;
    border-bottom: 1px solid #ff0000;
    width: 100%;
  }

  .card {
    width: 642px;
    height: 400px;
    background: #9D0013;
    border-radius: 20px;
    margin-left: 100px;
  }

  .name {
    width: 280px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 30px 25px;
    outline: none;
    padding: 0 20px;
  }

  .name2 {
    width: 280px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 20px;
  }

  .name3 {
    width: 280px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 0 25px;
    outline: none;
    padding: 0 20px;
  }

  .name4 {
    width: 280px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 20px;
  }

  .area {
    width: 587px;
    height: 91px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 25px 25px;
    outline: none;
    padding: 0 35px;
  }

  .__btn {
    width: 587px;
    height: 40px;
    background: #222222;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    margin: -7px 25px;
    font-size: 20px;
  }

  .__btn:hover {
    background: red;
    border: 1px solid black;
    color: #FFFFFF;
  }

  .data {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #FFFFFF;
    margin: 15px 25px;
  }


  .group {
    padding-top: 50px;
  }

  .group2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    color: #FFFFFF;
  }

  .group3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #afaaaa;
    font-size: 17px;

  }

  .group4 {
    background: red;
    width: 1325px;
    height: 2px;
  }


  .width {
    width: 40px;
    height: 3px;
    background: #ff0000;
    margin: 8px 0;
  }

  .width:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background: #ff0000;
    margin: 8px -20px;
  }

  .width:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background: #ff0000;
    margin: 15px -20px;
  }


}

#card{
  background: #222222;
  padding-top: 50px;
  .row {
    &--item {
      &__img {
        position: absolute;
      }



      &__card {
        z-index: 3;
        width: 406px;
        height: 259px;
        background: #000;
        opacity: 0;
        transition: .3s;
        margin-bottom: 20px;
      }


      &__card:hover {
        transform: translateY(0);
        opacity: .7;
      }
      &__lorem{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        color: #FF001E;
        padding-top: 100px;
        padding-left: 15px;
      }
      &__lorem2{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        color: #FFFFFF;

        padding: 0 15px;
      }
      &__pod{
        color: #a9a5a5;
        text-decoration: none;
        margin: 200px 10px;
      }


    }
  }
}

#application {
  background: #222222;
  padding-top: 70px;


  .row {
    &--application {
      &__your {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        color: #FFFFFF;
      }

      &__your2 {
        padding: 35px 0;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #FFFFFF;
      }

      &__card {
        width: 642px;
        height: 405px;
        background: #9D0013;
        border-radius: 20px;
        margin: 20px 0;
      }

      &__name {
        width: 280px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 10px;
        border: none;
        margin: 30px 25px;
        outline: none;
        padding: 0 20px;
      }

      &__name2 {
        width: 280px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 10px;
        border: none;
        outline: none;
        padding: 0 20px;
      }

      &__name3 {
        width: 280px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 10px;
        border: none;
        margin: 0 25px;
        outline: none;
        padding: 0 20px;
      }

      &__name4 {
        width: 280px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 10px;
        border: none;
        outline: none;
        padding: 0 20px;
      }

      &__area {
        width: 587px;
        height: 100px;
        background: #FFFFFF;
        border-radius: 10px;
        border: none;
        margin: 25px 25px;
        outline: none;
        padding: 35px 20px;
      }

      &__btn {
        width: 587px;
        height: 40px;
        background: #222222;
        border-radius: 10px;
        border: none;
        color: #FFFFFF;
        margin: -7px 25px;
      }

      &__data {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        color: #FFFFFF;
        margin: 15px 25px;
      }
    }
  }
}

#footer {
  min-height: 40vh;
  .row {
    &--footer {
      padding-top: 40px;

      &__project {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        color: #000000;
      }
      &__btn{
        width: 294px;
        height: 59px;
        font-family: 'Poppins',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        color: #F5F7F9;
        border: none;
        background: #FF001E;
        border-radius: 8px;
        margin: 20px 0;
      }
      &__btn:hover{
        background: #000000;
        color: red;
        border: 2px solid red;
      }
      &__ins{
        margin: 5px 60px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #000000;
        width: 100%;
        position: relative;
      }
      &__ins:hover{
        color: red;

      }
      &__ins:before{
        content: '';
        width: 100%;
        height: 1px;
        bottom: 0;
        position: absolute;
        background: red;
        transition: 0.3s;
        transform: scale(0);
      }
      &__ins:hover:before{
        transform: scale(1);
      }
    }
  }
}